*.WK3
*.SearchResults
*.PS
*.PRI
*.PR
*.PO
*.PFI
*.IMD
*.IMB
*.IAD
*.IAB
*.hcf
images/
audio/
*.o
*.d
*.compile
*.css
*.log
apps/applications/earbud/qcc512x_qcc302x/QCC3020-AA_DEV-BRD-R2-AA/depend_debug_qcc512x_qcc302x/
*.htf
*.xuv
*.bak
*.csv
apps/applications/earbud/qcc512x_qcc302x/QCC3020-AA_DEV-BRD-R2-AA/sedTNoeUv
apps/applications/earbud/qcc512x_qcc302x/QCC3020-AA_DEV-BRD-R2-AA/sedD9TqFe
*.html
apps/applications/earbud/qcc512x_qcc302x/QCC3020-AA_DEV-BRD-R2-AA/
apps/applications/earbud/qcc512x_qcc302x/common/
*.user
*.settings
*.a
apps/fw/src/hydra_os_qcc512x_qcc302x.x2p.user.4.8-pre1
apps/libs/libs_qcc512x_qcc302x.x2p.user.4.8-pre1
